.cursor-glow{

position:fixed;

width:240px;

height:240px;

border-radius:50%;

pointer-events:none;

z-index:2;

transform:

translate(-50%,-50%);

background:

radial-gradient(

circle,

rgba(255,215,0,.14),

rgba(0,229,255,.08),

transparent 70%

);

filter:blur(28px);

mix-blend-mode:screen;

transition:

left .08s linear,

top .08s linear;

will-change:

left,

top;

}

@media(max-width:992px){

.cursor-glow{

display:none;

}

}