body{

background:var(--background);

color:var(--white);

font-family:"Inter",sans-serif;

}

a{

text-decoration:none;

color:inherit;

}

img{

max-width:100%;

display:block;

}

button{

cursor:pointer;

border:none;

}