:root{

--primary:#3B82F6;

--secondary:#7C3AED;

--accent:#06B6D4;

--background:#050816;

--surface:#111827;

--white:#ffffff;

--gray:#9CA3AF;

--success:#22C55E;

--warning:#F59E0B;

--danger:#EF4444;

--border:rgba(255,255,255,.1);

--radius:18px;

--transition:.35s ease;

--container:1300px;

}