.career-card{
max-width:760px;
margin-top:40px;

padding:28px;

border-radius:22px;

background:rgba(255,255,255,.05);

border:1px solid rgba(255,255,255,.08);

backdrop-filter:blur(18px);

transition:.35s;
position:relative;

overflow:hidden;
}
.career-card::after{

content:"";

position:absolute;

top:-120%;

left:-40%;

width:70%;

height:250%;

background:

linear-gradient(

90deg,

transparent,

rgba(255,255,255,.12),

transparent

);

transform:rotate(25deg);

transition:.8s;

}

.career-card:hover::after{

left:150%;

}
.career-card:hover{

transform:translateY(-8px);

border-color:#7c5cff;

}

.career-card h3{

margin-bottom:16px;

color:#FFD700;

font-size:24px;

}

.career-card p{

margin:0;

line-height:1.9;

color:#d7d7d7;

}