.philosophy-card{

margin-top:35px;

padding:40px;

border-radius:22px;

background:linear-gradient(

135deg,

rgba(108,99,255,.12),

rgba(255,215,0,.08)

);

border:1px solid rgba(255,255,255,.08);
position:relative;

overflow:hidden;
}
.philosophy-card::after{

content:"";

position:absolute;

top:-120%;

left:-40%;

width:70%;

height:250%;

background:

linear-gradient(

90deg,

transparent,

rgba(255,255,255,.12),

transparent

);

transform:rotate(25deg);

transition:.8s;

}

.philosophy-card:hover::after{

left:150%;

}
.philosophy-card span{

display:block;

font-size:14px;

letter-spacing:1px;

color:#FFD700;

margin-bottom:15px;

}

.philosophy-card blockquote{

margin:0;

font-size:32px;

font-style:italic;

line-height:1.6;

color:white;

}